@media(max-width: 640px){
   #ChangeMenu{
     position: fixed;
     right: 3000px;
   }
}

.back_image{
   background: url('https://img.freepik.com/free-vector/technology-background_23-2148119855.jpg?size=626&ext=jpg&ga=GA1.1.18246715.1712768471&semt=ais');
   background-size: cover;
}

.background{
    background: linear-gradient(rgba(122, 240, 5, 0.6), #bff903);
}

.back_image1{
   background: url('https://tse1.mm.bing.net/th?id=OIP._t5PwJneEsl0m0qJW7PoUgHaEK&pid=Api&rs=1&c=1&qlt=95&w=217&h=122');
   background-size: cover;
}

/* .back_image_profile{
   background: url('../src/assets/profile.jpg');
   background-position:center;
   background-size: cover;
   height: 100vh;
} */

::-webkit-scrollbar{
    display: none;
}